.MainDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.section-1 {
  margin-top: 100px;
  padding: 20px;
  height: 600px;
  width: 1000px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.section-1 > h1 {
  font-size: 70px;
  line-height: 70px;
  margin-bottom: 10px;
}

.section-1 > h3 {
  font-size: 30px;
  text-align: center;
  font-weight: 500;
}

.section-1 > button {
  margin: 25px;
  padding: 5px;
  font-size: 19px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  color: white;
  background-color: black;
  gap: 10px;
}

.section-1 > button:hover {
  background-color: rgb(52, 52, 52);
}

.section-1 .first-pic {
  height: 250px;
  width: 600px;
}

.section-2 {
  width: 1000px;
  height: 90vh;
  flex-wrap: wrap;
  overflow: hidden;
}

.section-2 > .card {
  height: 130px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 20px;
  margin-bottom: 20px;
}

.section-2 > .card > .card1,
.section-2 > .card > .card2,
.section-2 > .card > .card3,
.section-2 > .card > .card4 {
  height: 130px;
  width: 300px;
  border-radius: 10px;
  background-color: rgb(244, 244, 244);
  box-shadow: 5px 5px 5px 5px rgb(224, 224, 224);
  cursor: pointer;
}

.section-2 > .card > .card1 > span,
.section-2 > .card > .card2 > span,
.section-2 > .card > .card3 > span,
.section-2 > .card > .card4 > span {
  font-size: 25px;
  text-align: center;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-2 > .card > .card1 > p,
.section-2 > .card > .card2 > p,
.section-2 > .card > .card3 > p,
.section-2 > .card > .card4 > p {
  font-size: 19px;
  text-align: center;
  padding: 2px;
}

.section-2 > .card > .card1:hover,
.section-2 > .card > .card2:hover,
.section-2 > .card > .card3:hover,
.section-2 > .card > .card4:hover {
  background-color: white;
}

/* Add this to your Main.css */
.section-2 .card .hovered {
  background-color: white;
}

.section-2 img {
  width: 100%;
  height: auto;
}

.slick-prev,
.slick-next {
  color: black;
  background-color: transparent;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.slick-prev {
  left: 0;
}

.slick-next {
  right: 0;
}
.section-3 {
  margin-top: 150px;
  width: 850px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  .text > h2 {
    font-size: 50px;
    width: 750px;
    text-align: center;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .text > p {
    font-size: 20px;
    text-align: center;
    padding: 5px;
  }
  .text > a {
    font-size: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2px;
    text-decoration: none;
    color: skyblue;

    &:hover {
      text-decoration: underline;
    }
  }
}

.brand {
  margin-top: 22px;
  row-gap: 30px;
  column-gap: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.section-4 {
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  > .div1 {
    display: flex;
    font-size: 25px;
    margin-left: 180px;
    text-align: center;
  }
  > .div2 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    > .line {
      position: absolute;
      top: 0;
    }
  }
}

.section-5 {
  margin-top: 60px;
  width: 700px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  > span {
    font-size: 30px;
    text-align: center;
  }
  .div3 {
    display: flex;
    gap: 15px;
  }
  > .inner {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.section-7 {
  margin-top: 80px;
  width: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  .div5,
  .div6 {
    height: 550px;
    width: 49%;
    border-radius: 15px;
    background-color: rgb(244, 244, 244);
    position: relative;
  }

  .div5_1,
  .div6_1 {
    > .span1,
    .span4 {
      padding: 20px;
    }
    > .span2,
    .span5 {
      font-size: 22px;
      margin-left: 20px;
      font-weight: 700;
      margin-bottom: 5px;
    }
    > .span3,
    .span6 {
      font-size: 19px;
      margin-left: 20px;
      margin-bottom: 5px;
      margin-right: 20px;
    }
  }

  .div5_2,
  .div6_2 {
    > img {
      position: absolute;
      height: 400px;
      width: 95%;
      right: 5px;
    }
  }
}

.section-8 {
  margin-top: 80px;
  width: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  > h2 {
    font-size: 50px;
    line-height: 60px;
  }
  > p {
    font-size: 22px;
    line-height: 25px;
    text-align: center;
  }
  > a {
    font-size: 20px;
    line-height: 60px;
    text-align: center;
    text-decoration: none;
    text-align: center;
    display: flex;
    align-items: center;
    gap: 5px;
    color: skyblue;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
}

.section-9 {
  width: 1000px;
  > .div9_1 {
    display: flex;
    align-items: center;
    justify-content: space-between;

    > .div9_1_1,
    .div9_1_2,
    .div9_1_3 {
      width: 315px;
      height: 150px;
      border-radius: 10px;
      background-color: rgb(244, 244, 244);
      display: flex;
      align-items: center;
      flex-direction: column;
    }
    .span9_1,
    .span9_3,
    .span9_5 {
      font-size: 60px;
      margin-top: 40px;
      color: rgb(0, 149, 172);
    }
    .span9_2,
    .span9_4,
    .span9_6 {
      text-align: center;
      display: flex;
      align-items: center;
      font-size: 22px;
      flex-direction: column;
    }
  }
  .div9_2 {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .div9_2_1,
    .div9_2_2 {
      margin-top: 30px;
      height: 450px;
      width: 49%;
      border-radius: 15px;
      background-color: rgb(244, 244, 244);
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
    .span9_7,.span9_9{
      margin-top: 50px;
      font-size: 22px;
      font-weight: 700;
      margin-bottom: 5px;
    }
    .span9_8,.span9_10{
      font-size: 22px;
      margin-bottom: 5px;
      margin-left: 40px;
      text-align: center;
    }
    .div9_2_2_1{
        margin-top: 30px;
    >img{
        height: 250px;
        width: 425px;
        right: 2px;
    }
  }}
}

.section-10{
  margin-top: 25px;
  width: 1000px;
  height: 650px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  .div10_1{
    height: 650px;
    width: 650px;
    background-color: rgb(244, 244, 244);
    border-radius: 15px;
   
    img{
      margin-top: 15px;
    }
  }
  .div10_2{
    height: 650px;
    width: 320px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    }
    .div10_2_1,.div10_2_2,.div10_2_3{
      height: 200px;
      width: 100%;
      background-color: rgb(244, 244, 244);
      border-radius: 15px;
    }
    .heading{
      display: flex;
      align-items: center;
      margin: 15px;
    }
    .user_comments{
      display: flex;
      flex-direction: column;
      margin-left: 15px;
    }
    .realname{
      font-weight: 700;
    }
    .username{
      font-weight: 500;
      color: rgb(81, 81, 81);
    }
    .comments{
      margin: 15px;
      font-size: 17.5px;
    }
}

.section-11{
  display: flex;
  margin-top: 80px;
  margin-left: 250px;
  gap: 50px;
  .div11_1{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    >h1{
      font-size: 50px;
    }
    >a{
      display: flex;
      gap: 10px;
      font-size: 20px;
    }
  }
}

.section-12{
  height: 90vh;
  width: 1000px;
  display: flex;
  justify-content: space-between;
  .div12_left{
    background-color: rgb(244, 244, 244);
    &:hover{
      background-color: rgb(226, 226, 226);
    }
  }
  .div12_left,.div12_right{
    width: 48.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
  }
  .upper{
    height: 36%;
    width: 100%;
  }
  .down{
    height: 64%;
    width: 100%;
    display: flex;
    justify-content: right;
    >img{
      margin-right: 2px;
    }
    
  }
  .div12_1{
    height: 32%;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .div12_1_1,.div12_1_2{
    background-color: rgb(244, 244, 244);
    width: 47%;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    flex-direction: column;
    border-radius: 15px;
    cursor: pointer;
    &:hover{
       background-color: rgb(226, 226, 226);
    }
  }
  .span12_1{
    margin-top: 25px;
    margin-left: 25px;
  }
  .span12_2{
    margin-top: 20px;
    margin-left: 25px;
    font-size: 21px;
    font-weight: 700;
  }
  .span12_3{
    display: flex;
    align-items: center;
    gap: 3px;
    margin-left: 25px;
    color: rgb(27, 171, 228);
    margin-top: 35px;
    font-size: 18px;
    &:hover{
      cursor: pointer;
      text-decoration: underline;
    }
  }
  .div12_1_12{
    margin-top: 05px;
    display: flex;
    cursor: pointer;
    flex-direction: column;
  }
}

.section-13{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 70px;
  .div13_1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    >h1{
      font-size: 65px;
    }
    >p{
      margin: 10px;
      font-size: 20px;
    }
  }
  .div13_inner{
    display: flex;
    gap: 10px;
    .span13_1{
      height: 35px;
      width: 140px;
      background-color: black;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 19px;
      text-align: center;
      border-radius: 7px;
      cursor: pointer;
      &:hover{
        background-color: rgb(51, 51, 51);
      }
    }
    .span13_2{
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      gap: 5px;
      font-size: 19px;
      color: rgb(21, 164, 220);
      cursor: pointer;
      &:hover{
        text-decoration: underline;
      }
    }
  }
}